@charset "shift_jis";


body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 75%;
	line-height: 2;
	color: #333333;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(images/bg.gif);
	background-repeat: repeat-x;
	background-position: top;
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}

img {
	border: none;
}

input,textarea,select {
	font-size: 1em;
}

form {
	margin: 0px;
}

table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}



/*リンク設定
---------------------------------------------------------------------------*/
a {
	color: #333333;
}
a:hover {
	color: #5B92D7;
	text-decoration: none;
}



/*コンテナー（HPを囲むボックス）
---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 1078px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	padding-left: 5px;
	background-image: url(images/container_bg.gif);	/*HP最上段にある色のついたボーダー*/
	background-repeat: repeat-y;
	padding-top: 1px;
	clear: left;
}



/*ヘッダー（サイト名ロゴとかが入っている上段のブロック）
---------------------------------------------------------------------------*/
#header {
	text-align: left;
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
	position: relative;
}

/*h1タグ設定*/
#header h1 {
	font-size: 11px;	/*文字サイズ*/
	line-height: 14px;
	font-weight: normal;
	position: absolute;
	left: 10px;	/*ヘッダーのブロックに対して左から10pxに配置*/
	top: 10px;	/*ヘッダーのブロックに対して上から10pxに配置*/
}

/*サイト名ロゴ画像設定*/
#logo {
	position: absolute;
	left: 0px;	/*ヘッダーのブロックに対して左から0pxに配置*/
	bottom: 0px;/*ヘッダーのブロックに対して下から0pxに配置*/
}

/*電話番号画像設定*/
#tel {
	position: absolute;
	right: 0px;	/*ヘッダーのブロックに対して右から0pxに配置*/
	bottom: 0px;/*ヘッダーのブロックに対して下から0pxに配置*/
}



/*メインメニュー
---------------------------------------------------------------------------*/
ul#menu {
	background-image: url(images/menu_bg.gif);
	height: 67px;
	width: 1069px;
	padding-left: 19px;
	margin-right: auto;
	margin-left: auto;
}

ul#menu li {
	float: left;
}

ul#menu img {
	vertical-align: bottom;
}



/*トップページのFLASH
---------------------------------------------------------------------------*/
#mainimg {
	background-image: url(images/mainimg_bg.gif);	/*FLASH下の影*/
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 10px;
	text-align: center;
}

#mainimg img {
	vertical-align: bottom;
}



/*メインコンテンツ（右側）
---------------------------------------------------------------------------*/
#main {
	float: right;
	width: 710px;
	padding-top: 10px;
	padding-bottom: 50px;
	display: inline;
	margin-right: 10px;
}

#main h2 {
	font-size: 100%;
	line-height: 40px;
	color: #FFFFFF;
	background-image: url(images/h2bg.gif);	/*h2背景画像設定*/
	background-repeat: no-repeat;
	height: 40px;
	overflow: hidden;
	padding-left: 10px;
	background-color: #82A9D9;
	clear: both;
}

#main p {
	padding: 0.5em 10px 1em;
}

#main ol{
    margin-left: 30px;
}

#main ul{
    margin-left: 30px;
}

#main img{
        width: 710px;
}



/*サイドコンテンツ（左側）
---------------------------------------------------------------------------*/
#side {
	float: left;
	width: 330px;
	padding-top: 10px;
	padding-bottom: 50px;
	display: inline;
	margin-left: 10px;
}

#side h3 {
	font-size: 100%;
	border: 3px double #bfbfbf;	/*２重線*/
	text-align: center;			/*文字をセンタリング*/
	background-image: url(images/h3bg.gif);	/*h3背景画像設定*/
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 5px;
	padding-bottom: 5px;
}

#side p {
	padding-top: 0.5em;
	padding-bottom: 1em;
}

/*サイドメニュー
---------------------------------------------------------------------------*/
#side .sidemenu {
	margin-bottom: 1em;
}

#side .sidemenu li {
	background-image: url(images/sidemenu_bg.gif);	/*左側のアクセント画像*/
	background-repeat: no-repeat;
	background-position: left center;
}

#side .sidemenu a {
	display: block;
	width: 300px;
	border-bottom: 1px solid #bfbfbf;	/*下線*/
	text-decoration: none;
	padding: 5px 10px 5px 20px;
}

#side .sidemenu a:hover {
	background-color: #e8f1fb;	/*カーソルオーバー時の背景色*/
}




/*フッターメニュー
---------------------------------------------------------------------------*/
ul#footermenu {
	clear: both;
	text-align: center;
	width: 100%;
}

ul#footermenu li {
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
}




/*フッター（コピーライトとか入っている最下部ブロック）
---------------------------------------------------------------------------*/
#footer {
	text-align: center;
	background-image: url(images/footer_bg.gif);
	background-repeat: no-repeat;
	background-position: top;
	margin-right: auto;
	margin-left: auto;
	width: 1080px;
	padding: 40px 4px 20px;
}





/*メインコンテンツ内の「What's New」部分
---------------------------------------------------------------------------*/
#main dl.new {
	width: 700px;			/*What's Newボックスの幅*/
	height: 140px;			/*What's Newボックスの高さ*/
	overflow: auto;
	padding: 10px 0px 10px 10px;
	margin-right: auto;
	margin-left: auto;
}

#main dl.new dt {
	font-weight: bold;	/*日付の色を太字にする*/
}

#main dl.new dd {
	border-bottom: 1px solid #bfbfbf;	/*日付ごとの下線*/
}




/*物件一覧（横長）ボックス
---------------------------------------------------------------------------*/
.box {
	overflow: hidden;
	padding: 5px;	/*ボックス内の余白*/
	border-top: 1px solid #bfbfbf;		/*ボックスの上の線*/
	border-right: 1px solid #bfbfbf;	/*ボックスの右の線*/
	border-bottom: 1px solid #bfbfbf;	/*ボックスの下の線*/
	border-left: 5px solid #5B92D7;		/*ボックスの左の線*/
	margin-bottom: 1em;
	width: 674px;
	margin-right: auto;
	margin-left: auto;
}

/*写真の配置設定*/
.box img {
	float: left;
	width: 150px;	/*配置する写真に合わせてここは変更する*/
}

/*h3見出し設定*/
.box h3 {
	font-size: 100%;
	color: #055723;	/*文字色*/
	padding-left: 160px;	/*左の写真サイズに合わせてここは調整*/
}
.box h3 a {
	color: #5B92D7;	/*リンクにした際に色が黒に戻らないように設定*/
}

.box p {
	padding: 0px 0px 0px 160px !important;	/*左の写真サイズに合わせてここは調整*/
}

.box.osusume {
	background-image: url(images/boxbg_osusume.gif);	/*「おすすめ物件」画像指定*/
	background-repeat: no-repeat;						/*画像をリピートしない*/
	background-position: right bottom;					/*画像を右下に配置*/
}

.box.sumi {
	background-image: url(images/boxbg_sumi.gif);		/*「ご契約済み」画像指定*/
	background-repeat: no-repeat;						/*画像をリピートしない*/
	background-position: right bottom;					/*画像を右下に配置*/
}



/*物件一覧（ミニサイズ）ボックス
---------------------------------------------------------------------------*/
.boxmini {
	overflow: auto;
	padding: 5px;		/*ボックスの左の線*/
	margin-bottom: 1em;
	border: 1px solid #bfbfbf;
	width: 150px;
	height: 230px;
	float: left;
	margin-left: 10px;
	margin-right: 2px;
	display: inline;
}

/*h3見出し設定*/
.boxmini h3 {
	font-size: 100%;
	color: #055723;	/*文字色*/
}
.boxmini h3 a {
	color: #5B92D7;	/*リンクにした際に色が黒に戻らないように設定*/
}

.boxmini p {
	padding: 0px !important;
	font-size: 12px;
	line-height: 1.6;
}

.boxmini.osusume {
	background-image: url(images/boxbg_osusume.gif);	/*「おすすめ物件」画像指定*/
	background-repeat: no-repeat;						/*画像をリピートしない*/
	background-position: right bottom;					/*画像を右下に配置*/
}

.boxmini.sumi {
	background-image: url(images/boxbg_sumi.gif);		/*「ご契約済み」画像指定*/
	background-repeat: no-repeat;						/*画像をリピートしない*/
	background-position: right bottom;					/*画像を右下に配置*/
}


/*テーブル（物件詳細ページや会社概要で使っているテーブル）
---------------------------------------------------------------------------*/
.ta1 {
	width: 710px;
}

.ta1, .ta1 td, .ta1 th{
	border: 1px solid #5B92D7;
}

.ta1 td, .ta1 th{
	padding: 5px;	/*テーブル内の余白*/
}

.ta1 th{
	background-color: #e8f1fb;	/*左側thタグの背景色*/
	width: 150px;				/*左側thタグの幅*/
	text-align: center;
}



/*その他
---------------------------------------------------------------------------*/
.color1 {
	color: #FF0000;
}

.look {
	background-color: #E4E4E4;
}

.mb1em {
	margin-bottom: 1em;
}

.clear {
	clear: both;
}
